.DS_Store
**/node_modules/
/server/dist/
/server/files/
/server/coverage/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage output
*/.nyc_output

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# intellij
.idea/*
.idea/

*.xml
*.iml
*.ser