// Bootstrap Settings

// Colours (https://www.tudelft.nl/en/tu-delft-corporate-design/colours/)
$primary: #00A6D6;    // TU Delft colour
$secondary: #000000;  // TU Delft colour
$success: #73a812;    // TU Delft colour
$danger: #e21a1a;     // TU Delft colour

.bg-primary-light { background-color: rgba($primary, .5); }

// Import Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";            // Bootstrap
@import "../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";     // Bootstrap-Vue

/** Custom non-bootstrap CSS **/

// Font.
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900');
* {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

// Overflow fix.
body {
  overflow:scroll;
}

body {
  background-color: #f5f5f5;
}
/** Custom bootstrap CSS. **/




