/**
  ======================
  Bootstrap Settings
  ======================
 */

// Global settings
$enable-rounded: true;

// Colours (https://www.tudelft.nl/en/tu-delft-corporate-design/colours/)
$primary: #00A6D6;    // TU Delft colour
$secondary: #2f2f2f; // TU Delft colour
$success: #73a812;    // TU Delft colour
$danger: #e21a1a;     // TU Delft colour

// Card customization
.card {
  @extend .shadow-sm;
}

// Navbar customization
$navbar-dark-color:                 rgba(#FFFFFF, 1);
$navbar-dark-hover-color:           rgba(#FFFFFF, 1);
$navbar-dark-active-color:          rgba(#FFFFFF, 1);

.navbar-dark {
  .navbar-nav {
    .nav-link.active {
      font-weight: bold;
    }
  }
}

// Import Bootstrap
@import '~bootstrap';            // Bootstrap
@import '~bootstrap-vue.css';     // Bootstrap-Vue

/**
  ======================
  Non-Bootstrap CSS
  ======================
 */

// Font.
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900');
* {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

// Background colour.
body {
  background-color: #f5f5f5;
  overflow-y: scroll;
}

.bg-primary-light { background-color: rgba($primary, 0.6); }
.bg-secondary-light { background-color: rgba($secondary, 0.6); }
.bg-success-light { background-color: rgba($success, 0.6); }
.bg-danger-light { background-color: rgba($danger, 0.6); }

// Vue Page Transition Classes
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.1s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(1em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-1em, 0);
}

// Disables a div from being clickable (used in rubric screen)
.disabled-view {
  pointer-events: none;
  background-color: black;
  opacity: .5;
}